:root {
  --color-primary-light: #ffffff;
  --color-primary-medium: #ff9f0e;
  --color-primary-dark: #181817;
  --color-secondary-first: #fcb62a; // jover buttons
  --color-secondary-second: #fffaf3;
  --color-secondary-third: #f1f3ff;
  --color-secondary-fourth: #839aa9;
  --color-secondary-fifth: #f9f9ff;
  --color-secondary-sixth: #d9a6ff;
}
