:root {
    --color-primary-light: #FFFFFF;
    --color-primary-medium: #FF9F0E;
    --color-primary-dark: #181817;
    --color-secondary-first: #FCB62A;
    --color-secondary-second: #FFFAF3;
    --color-secondary-third: #F1F3FF;
    --color-secondary-fourth: #839AA9;
    --color-secondary-fifth: #F9F9FF;
    --color-secondary-sixth: #D9A6FF;
}