.button {
  border: 1px solid var(--color-primary-medium);
  border-radius: 8px;
  background-color: var(--color-primary-medium);
  color: var(--color-primary-light);
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.button:hover {
  border-color: var(--color-secondary-first);
  background-color: var(--color-secondary-first);
}
